body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}
#time
{
    display: flex;
    gap: 100px;
    color: #fff;
}
#hours
{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}


#minutes
{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}
#seconds
{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#ampm
{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}